html {
	background-color: $black;
}

hr {
	margin: 0.5rem 0;
	border: none;
	height: 1px;
	background-color: $grey-dark;
}

h3 {
	font-family: cursive;
}

a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.cloud-background {
	background-image: url('public/images/clouds.png');
}

.has-text-cursive {
	font-family: cursive;
}

.vertical {
	flex-direction: column;
}

.content {
	display: inline-block;
}

.alignleft {
	float: left;
	margin: 1rem 1rem 1rem 0;
}

.alignright {
	float: right;
	margin: 1rem 0 1rem 1rem;
}

.page-content {
	background-color: $cloud-color-dark;

	.content {
		max-width: 800px;
		margin: auto;
	}
}

.page-thumbnail {
	display: inline-block;
	margin: 0.5rem;

	img {
		background-color: black;
		background-size: contain;
		max-height: 250px;
		width: auto !important;
		box-shadow: $box-shadow;
	}
}

.single-page {
	background-color: $cloud-color-dark;
}

.single-content {
	max-width: 800px;
	margin: auto;
}

.single-image {
	padding: 0 2rem;

	img {
		width: auto;
		height: unset;
		max-height: 500px;
		margin: auto;
		box-shadow: $box-shadow;
	}
}
